body {
    font-family: Arial, sans-serif;
}

.khung {
    width: 600px;
    border: 2px solid black;
    padding: 15px;
}

/* Màu tiêu đề */
h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: green;
}

/* Dòng 4 và 5 font khác */
h4 {
    font-family: "Times New Roman";
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.dong5 {
    font-family: "Times New Roman";
    color: black;
    font-family: "Courier New";
    font-size: 14px;
}

.vang {
    font-family: "Times New Roman";
    color: yellow;
    font-weight: bold;
}
