.khung {
    width: 600px;
    border: 2px solid black;
    padding: 15px;
}

h2 {
    color: red;
    text-align: center;
}

.doan1 {
    font-size: 14px;
    font-style: italic;
    color: white;
    background-color: blue;
    padding: 10px;
}

.doan2 {
    font-size: 14px;
    font-style: italic;
    color: yellow;
    background-color: brown;
    padding: 10px;
}
