.khung {
    width: 650px;
    border: 2px solid black;
    padding: 15px;
    background-color: pink;
}

h1 {
    color: blue;
    text-align: center;
}

ol li {
    font-size: 14px;
    color: black;
    margin: 5px 0;
}

