table {
    border-collapse: collapse;
    font-family: "Times New Roman";
    font-size: 14px;
    font-weight: bold;
    width: 700px;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    background-color: lightgray;
}

.cot {
    background-color: gray;
    color: white;
}

.cn {
    background-color: lightgray;
}
