body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #2c3e50;
}
header {
  background: #2c3e50;
  color: white;
  padding: 40px 20px;
}

main {
  background: white;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
}

footer {
  color: #777;
  padding: 15px;
}
